<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{$sys['systemname']}</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="__ROOT__/../public/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="__ROOT__/../public/font-awesome4.5.0/font-awesome.min.css">
  <link rel="stylesheet" href="__ROOT__/../public/bootstrap/css/ionicons.min.css">
  <link rel="stylesheet" href="__ROOT__/../public/bootstrap/dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="__ROOT__/../public/bootstrap/dist/css/skins/_all-skins.min.css">
  <link rel="stylesheet" href="__ROOT__/../public/bootstrap/plugins/iCheck/all.css">
  <!--[if lt IE 9]>
  <script src="__ROOT__/../public/js/html5shiv.min.js"></script>
  <script src="__ROOT__/../public/js/respond.min.js"></script>
  <![endif]-->
</head>
<body class="hold-transition fixed skin-blue sidebar-mini">
<div class="wrapper">
  <!--头部公用部分-->
  {include file='top'}
  <!--左部菜单公用部分-->
  {include file='menu'}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        考核字段管理
      </h1>
      <ol class="breadcrumb">
        <li><a href="__APP__/index/"><i class="fa fa-dashboard"></i> 系统首页</a></li>
        <li>系统配置</li>
        <li class="active">考核字段管理</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title"><i class="fa fa-database">&nbsp;</i>考核字段信息</h3>

              <div class="box-tools">
                    <div class="btn-group">
                      <a href="__URL__/edit.html" class="btn btn-block btn-success" style="float:right"><span class="fa fa-plus">&nbsp;</span>字段信息添加</a>
                    </div>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tr>
                  <th>考核字段</th>
                  <th>字段类型</th>
                  <th>字段注释</th>
                  <th>考核分值</th>
                  <th>操作管理</th>
                </tr>
                {if !empty($list)}{each $list $vo}
                {if $vo['Comment']!=''}
                <tr>
                  <td>{$vo['Field']}</td>
                  <td>{$vo['Type']}</td>
                  <td>{$vo['Comment']}</td>
                  <td>{$scores[$vo['Field']]}</td>
                  <td>
                    <div class="btn-group">
                        <a href="__URL__/edit.html?field={$vo['Field']}&type={$vo['Type']}&comment={$vo['Comment']}" class="btn btn-xs btn-success"><i class="fa fa-edit"></i>&nbsp;编辑</a>
                        <button class="btn btn-xs btn-warning" onclick="delmessage('{$vo['Field']}')">
                            <i class="fa fa-trash"></i>&nbsp;删除
                        </button>
                    </div>
                  </td>
                </tr>
                {/if}
                {/each}
                {else}   
                <tr>
                    <td colspan="5" class="red">
                    <span class="label label-warning"><i class="icon-warning-sign bigger-120"></i>暂无考核字段信息！</span>
                    </td>
                </tr>
                {/if}
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>                                
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  {include file='copy'}
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 2.2.3 -->
<script src="__ROOT__/../public/bootstrap/plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="__ROOT__/../public/bootstrap/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="__ROOT__/../public/bootstrap/plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="__ROOT__/../public/bootstrap/plugins/iCheck/icheck.min.js"></script>
<script src="__ROOT__/../public/sweet/sweetalert.js"></script>
<link rel="stylesheet" type="text/css" href="__ROOT__/../public/sweet/sweetalert.css">
<script src="__ROOT__/../public/bootstrap/dist/js/app.min.js"></script>
<script type="text/javascript">
	function delmessage(fieldname){
		//alert(fieldname);
		swal({
			title: "您确定要删除吗?",
			//text: "You will not be able to recover this imaginary file!",
			type: "warning",
			showCancelButton: true,
			confirmButtonColor: '#DD6B55',
			confirmButtonText: '删除',
			cancelButtonText: "取消",
			closeOnConfirm: false,
			closeOnCancel: true
		},
		function(isConfirm){
			if (isConfirm){
			  $.post("__URL__/del.html", { 
				  fieldname: fieldname 
			  },function(data){
				  if(data=='删除成功'){
					  swal("删除成功!", "", "success");
					  setTimeout(function(){window.location="__URL__/index.html";},2500); 
				  }else{
					   swal(data, "", "error");
				  }
			  });
			}/* else {
			  swal("已取消", "", "error");
			}*/
		});
	}
</script>
</body>
</html>
